default clone_url "https://github.com/fmfi-svt/anketa.git"
default www_user "www-data"
default db_user "anketaarena"
default db_password "password"
default sql_file "hostname.example:/path/to/anketa-template.sql.xz"
default arena_docroot "/var/www/anketaarena/"
default email_password "~"
