default clone_url "https://code.google.com/p/fmfi-anketa/"
default www_user "www-data"
default db_user "anketaarena"
default db_password "password"
default sql_file "/path/to/anketa-template.sql.gz"
default arena_docroot "/var/www/anketaarena/"
default email_password "~"
